* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div#calcFrame {
    border: 1px solid black;
    width: 350px;
    height: 450px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
}

input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

div#divButtons {
    margin: 0 auto;
    text-align: center;
    padding: 10px 0 10px 0;
}

button.operationButton {
    font-size: 50px;
    width: 15%;
    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid #4CAF50;
    cursor: pointer;
}

button.operationButton:hover {
    background-color: #4CAF50;
    color: white;
}

button#equationButton {
    display: block;
    margin: 0 auto;
    width: 200px;
    font-size: 50px;
    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid #4CAF50;
    cursor: pointer;
}

button#equationButton:hover {
    background-color: deepskyblue;
    color: white;
}

h2 {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    border: 1px solid black;
}